body {
      background-color: aqua;
      padding-bottom: 100px;
}
#root {
   width: 1600px;
   margin-left: auto;
   margin-right: auto;

}

.Searchbar {
   background-color: aqua;
   height: 50px;
   display: flex;
   justify-content: center;
}
.SearchForm {
   display: flex;
   flex-direction: column;
}
.ImageGallery {
   list-style: none;
   display: flex;
   flex-wrap: wrap;
   padding: 0;
   justify-content: space-between;
   
}
.ImageGalleryItem {
      width: 250px;
      height: 250px;
      overflow: hidden;
}
.loadButton {
   margin-left: auto;
   margin-right: auto;
   display: block;

}
.ImageGalleryItem-image{
   margin: auto;
}
.modal{
   position: fixed; /* фиксированное положение */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5); /* цвет фона */
    display: flex;
}

.modal-content{ 
   position: absolute;
   top:50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 12px;
   background-color:  rgba(0,0,0,0.5);
}
.loader{
display: flex;
justify-content: center;
}